.main{
    margin: 40px 0px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card{
    padding: 20px;
    box-sizing: border-box;
}

.card-block{
    margin-top:20px;
    box-sizing: border-box;
}

.footer{
    padding: 20px;
    display: flex;
    justify-content: center;

}
.footer-text{
    text-align: center;
}

.container{
    padding-right: 0px;
    padding-left: 0px;
}
